.app {
  background-color: aliceblue;
}

.app__header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  background-color: rgb(236, 233, 233);
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__posts {
  padding: 20px;
}

.app__popup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.app__container {
  display: flex;
  justify-content: space-around;
}

.app__right {
  padding: 20px;
}
